* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #f5f5f5;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 99;
}

.navbar {
  margin: 0px auto 0px;
  width: 80%;
}

#nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto 0px;
  text-decoration: none;
  list-style: none;
  height: 60px;
  line-height: 60px;
}

.img-navbar {
  width: 40px;
  height: 40px;
  display: flex;
  margin: auto 0px;
  border-radius: 10px;
}

ul li,
a {
  text-decoration: none;
  list-style: none;
  margin-left: 10px;
  color: orangered;
}
/* navbar */

#jumbotron {
  width: 100%;
  height: 100vh;
  background-image: url(../img/jumbotron.png);
  background-position: center;
  background-size: cover;
}

#jumbotron .content .btn-1 {
  color: white;
  background-color: orangered;
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
}

#jumbotron .content .btn-2 {
  color: black;
  background-color: withe;
  padding: 8px 15px;
  border: 1px solid black;
  border-radius: 10px;
}

.content {
  width: 400px;
  margin: 0 auto;
  position: absolute;
  top: 45%;
  left: 35%;
  text-align: center;
}

/* cari */
#cari {
  width: 80%;
  margin: 0 auto;
}

.cari {
  margin: 0 auto;
}

.input-cari {
  display: block;
  text-align: start;
  margin: 0 auto;
  width: 60%;
  height: 30px;
  border: none;
  border-radius: 10px;
}

.btn-cari {
  display: flex;
  position: absolute;
  top: 703px;
  right: 340px;
  height: 30px;
  padding: 0 5px;
  text-align: center;
  line-height: 30px;
  border: none;
  border-radius: 0px 10px 10px 0px;
  background-color: orangered;
}

#tabel .container {
  width: 80%;
  margin: 0 auto;
}

.judul-tabel {
  text-align: center;
  margin-top: 50px;
}

.judul-tabel p {
  margin: 16px;
}

.tabel {
  margin: 32px;
  width: 100%;
  text-align: center;
}

.tabel th {
  padding: 8px;
}

.tabel td {
  padding: 5px;
}

/* cta */

#footer .container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
